@import '../../index.scss';

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.dc {
  background-color: $color-primary-dc;
}

.marvel {
  background-color: $color-primary-marvel;
}

.hero {
  &__card {
    background-color: rgba($color-light, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.1rem solid $color-light;
    border-radius: 2rem;
    box-shadow: inset 0 0 5.5rem 1rem $color-light;
    width: 80rem;
    height: 65rem;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0.3rem 0.8rem 3rem $color-light;
    }
  }

  &__image {
    border-radius: 1rem;
  }

  &__title {
    font-size: 3rem;
    color: $color-light;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__info {
    font-size: 1.5rem;
    color: $color-light;
    margin-bottom: 1rem;
  }

  &__characters--title {
    font-size: 2rem;
    color: $color-light;
    margin-top: 2.5rem;
  }

  &__button {
    background-color: $color-secondary-marvel;
    border: none;
    border-radius: 1rem;
    color: $color-light;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem 2rem;
    transition: all 0.3s;

    &:hover {
      font-size: 1.5rem;
      box-shadow: 0.3rem 0.1rem 1rem $color-secondary-marvel;
    }
  }
}

ul {
  list-style: none;
}