@import '../../index.scss';

.marvel__container {
  background-color: $color-dark;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.marvel__title {
  background-color: transparent;
  color: $color-light;
  font-size: 8rem;
  position: relative;
  text-align: center;
  z-index: 100;
}

.marvel__image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.marvel__image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.marvel__cards-container {
  position: relative;
  z-index: 10;
}

@media screen and(max-width: 450px) {
  .marvel__title {
    font-size: 4rem;
  }
}
